<br />
<div class="jumbotron">
    <h1 class="display-4">Contact</h1>
    <p class="lead">If you would like to get in touch with me simply fill out the form below or send me an <a href="mailto:feroz.fafoo@gmail.com">email </a></p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
       
    </p>
</div>


<br />
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Name</label>
            <input type="text" class="form-control" id="#" placeholder="Please enter your full name">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Email Address</label>
            <input type="email" class="form-control" id="#" placeholder="Email Address">
        </div>
    </div>



    <div class="form-group col-md-6">
        <label for="inputCity">Company</label>
        <input type="text" class="form-control" id="#">
    </div>
    <div class="form-group col-md-6">
        <label for="inputState">Enquiry Type</label>
        <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>Personal </option>
            <option>Business  </option>
            <option>Academic </option>
            <option>Other </option>

        </select>
    </div>



    <div class="form-group col-md-12">
        <label for="exampleTextarea">Message</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        <br />
        <button class="btn btn-primary col-lg-1" type="submit">Submit</button>
    </div>
</form>




